.navigation{
    position: fixed;
    width: 230px;
    height: 100%;
    background-color: black;
    border-left: 10px solid black;
    transition: 0.5s;
    overflow: hidden;
    margin-left: -8px;
    margin-top: -8px;
}

.navigation ul{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navigation ul li{
    position: relative;
    width: 96%;
    list-style: none;
    margin-left: -30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover{
    background-color: white;
}

.navigation ul li:nth-child(1){
    margin-bottom: 40px;
    pointer-events: none;
}

.navigation ul li a{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: white;
}

.navigation ul li:hover a{
    color: rgb(38, 1, 53);
}

.navigation ul li a i{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    margin-left: -5px;
    text-align: center;
}

.navigation ul li a .title{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
}

/* curve outside */
.navigation ul li:hover a::before{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover a::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}